<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>199757380795-6bfmokj41oeij4uuqub8v1ng4pa71ms9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.199757380795-6bfmokj41oeij4uuqub8v1ng4pa71ms9</string>
	<key>API_KEY</key>
	<string>AIzaSyA-ogZXeWcEojW-1a0hReSfE4kBMyUdvBA</string>
	<key>GCM_SENDER_ID</key>
	<string>199757380795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.il.nahman.TicTacToeOnline</string>
	<key>PROJECT_ID</key>
	<string>tictactoeonline-5cbb0</string>
	<key>STORAGE_BUCKET</key>
	<string>tictactoeonline-5cbb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199757380795:ios:5573610c791dd928963d9e</string>
	<key>DATABASE_URL</key>
	<string>https://tictactoeonline-5cbb0.firebaseio.com</string>
</dict>
</plist>